header{
    .navbar{
        background-color: $less-opacity-bg;
        @include box-shadow($box-shadow-navbar);
  
    ul{
        // list-style: none;
      
        .pools{
            margin-left: -35px;
        }
        ul{ 
            display:none;
            position: absolute;
            top: 65px;
            left: -50px;
            box-shadow: none;
            li{
                // display: inline-block;
                position: relative;
                width: 214px;
                list-style-type: none;
                padding: .6rem 1rem;
                &::before{
                    content:'';
                    width: 90%;
                    height: 1px;
                    background-color:$divider-line;
                    position: absolute;
                    top: 100%;
                    left: 5%;
                    // transform: rotate(90deg);
                }
                &:last-child::before{
                    content: none;
                }
               a{
                // display: block;
                color: $dark-green;
                font-weight: 600;
               }
            }
        }
        .landscape-dropdown{
            li{
               min-width: 214px;
            }
        }
        .pools-dropdown{
            // left: -75px;
            li{
                min-width: 263px;
             }
        }
        .nav-link{
            color: $dark-green !important;
            letter-spacing: 1px;
            font-weight: 900;
            // font-size: 1.25vw;
            padding: 20px 0 !important;
            display:flex;
            align-items: center;
            &:hover{
                // color: $secondary-color !important;
                background: -webkit-linear-gradient(270deg,$black,$secondary-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .active{
            background: -webkit-linear-gradient(270deg,$black,$secondary-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
                &:before{
                    content: '' !important;
                    display: block  !important;
                    position: absolute  !important;
                    // top: 70%;
                    // left: 0%;
                    // height: 3px;
                    // width:100%;
                    top: 75%  !important;
                    left:0%  !important;
                    height: 3px  !important;
                    width: 50%  !important;

                    @include border-radius($primary-border-radius);
                    // background-color:$dark-green;
                    background-image:linear-gradient(to right,$primary-color,$secondary-color)  !important;
                    // transform-origin: left top;
                    transform: scale(1, 1)  !important;
                    transition: 0.3s ease-out  !important;
                }
                &:after{
                    content: ''  !important;
                    display: block  !important;
                    position: absolute  !important;
                    // top: 70%;
                    // left: 0%;
                    // height: 3px;
                    // width:100%;
                                       top: 75%  !important;
                    right: 0%  !important;
                    height: 3px  !important;
                    width: 50%  !important;
                    @include border-radius($primary-border-radius);
                    // background-color:$dark-green;
                    background-image:linear-gradient(to right,$secondary-color,$primary-color) !important;
                    // transform-origin: right top;
                    transform: scale(1, 1) !important;
                    transition: 0.3s ease-out !important;
                }

            
        }
       .nav-item{
                position: relative;
                font-size:$font-mx;
            
               
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    // top: 70%;
                    // left: 0%;
                    // height: 3px;
                    // width:100%;
                    top: 75%;
                    left:0%;
                    height: 3px;
                    width: 50%;

                    @include border-radius($primary-border-radius);
                    // background-color:$dark-green;
                    background-image:linear-gradient(to right,$primary-color,$secondary-color);
                    transform-origin: left top;
                    transform: scale(0, 1);
                    transition: 0.3s ease-out;
                }
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    // top: 70%;
                    // left: 0%;
                    // height: 3px;
                    // width:100%;
                                       top: 75%;
                    right: 0%;
                    height: 3px;
                    width: 50%;
                    @include border-radius($primary-border-radius);
                    // background-color:$dark-green;
                    background-image:linear-gradient(to right,$secondary-color,$primary-color);
                    transform-origin: right top;
                    transform: scale(0, 1);
                    transition: 0.3s ease-out;
                }
             
             
                    &:hover::before,&:hover:after,
                    &:focus::before,&:focus::after{
                        transform: scale(1, 1);
             
                    }
                  
        }
    }
    }  
}
@media (max-width: 991.98px){
    header{
    .navbar{
        justify-content: space-between !important;
        ul{
            ul{
                top: 0;
                left: 100%;
                font-size: 10px;
                // text-align:left !important;
                z-index: 1;
               
               li{
                   width: 120px;
               }
            }
            .landscape-dropdown{
                li{
                    min-width: 120px;
                }
            }
            .pools-dropdown{
                top: 0;
                  left:105%;
                li{
                    min-width: 120px;
                }
            }
            }
    }
    }
 }
 @media (max-width:320px){
    header{
        .navbar{
            ul{
                ul{
                    font-size: 6px;

                   li{
                       width: 80px;
                       padding: 0.25rem 0;
                  
                   }
                   
                }
                .landscape-dropdown{
                    li{
                        min-width: 90px;
                    }
                }
                .pools-dropdown{
                  
                    li{
                        min-width: 90px;
                    }
                }
              
                }
        }
        }
     
 }